.product-card {
    border: 1px solid #ccc;
    background-color: aquamarine;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.product-card h2 {
    color: #4CAF50;
}

.product-card p {
    margin-bottom: 10px;
}
/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding-left: 20px;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.sec{
    padding-top: 120px;
    display: flex;
}

.search-container {
    margin: 20px auto;
    text-align: center;
  }
  
  input[type="text"] {
    padding: 10px;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #searchResults {
    margin: 20px auto;
    max-width: 600px;
  }

  .specification{
         display: flex;
  }

  .s1{
      padding-right: 30px;
  }

  ul li{
    display: inline;
    margin-right: 20px;
}

ul {
    list-style-type: none;
}

.logo{
    padding-right: 300px;
}

.sb{
    display: flex;
}